{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

  <style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
      background: #00bc8c;
    }

    .wy-nav-side {
      background: #303030;
    }

    .wy-nav-content-wrap{
      background-color: #222;
      color: #fff;
    }
    /* Reference */
    a{
      text-decoration: none;
      color: #00bc8c;
    }
    a:hover{
      text-decoration: none;
      color: #00bc8c;
    }
  </style>
{% endblock %}
